/* Estilo general del banner */
.bannernoti {
    width: 100%;
    min-height: 200px;
    max-width: 1200px;
    margin: 0px auto;
    margin-bottom: 80px;
    position: relative;
    overflow: hidden;
    border: 3px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Contenedor de los elementos */
.banner-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    height: 100%;
}

/* Elemento individual */
.banner-item {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
font-weight: normal;  
    box-sizing: border-box;
    background: linear-gradient(90deg, #ffd700, #ffae00);
    color: white;
}

/* Lado derecho */
.banner-item-derecha {
    flex: 1;
    padding: 20px;
}

.banner-item-derecha h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.banner-item-derecha h6 {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 24px;
    
}

.banner-item-derecha .banner-boton {
    
    transition: background-color 0.3s ease;

    display: inline-block;
    padding: 10px 20px;
    background-color: #69686000;
    color: rgb(255, 255, 255);
    border-bottom: solid rgb(255, 255, 255) 3.5px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: normal;
    position: relative;
    margin: auto;
}

.banner-item-derecha .banner-boton:hover {
    background-color: #115c69;
}

/* Lado izquierdo */
.banner-item-izquierda {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.banner-noti-img {
    width: 80%;
    height: 100%;
    background-size: cover;
    background-position: center;
   background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	
}

/* Controles del banner */
.banner-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.banner-controls button {
    background-color: rgba(255, 68, 0, 0.219);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    transition: background-color 0.3s ease;
}

.banner-controls button:hover {
    
	background-color: #faffafcc;
}

.banner-controls .prev {
    margin-left: 10px;
}

.banner-controls .next {
    margin-right: 10px;
}
